<section class="forms-section">

    <div class="forms">
      <div class="form-wrapper is-active"  (submit)="loginUser($event)">
     <button type="button" class="switcher switcher-login">
          Login
          <span class="underline"></span>
        </button> -->
         <form class="form form-login">
          <fieldset>
            <legend>Please, enter your email and password for login.</legend>
            <div class="input-block">
              <label for="login-email">E-mail</label>
              <input id="login-email" type="email" required>
            </div>
            <div class="input-block">
              <label for="login-password">Password</label>
              <input id="login-password" type="password" required>
            </div>
          </fieldset>
          <a routerLink="/home"> <button type="submit" class="btn-login">Login</button></a>
          <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
        </form>
      </div>
    
    </div>
  </section>
